.vscode/
.venv/

# Model files - ignore large uncompressed files
src/models/final_model/*.joblib
src/models/final_model/features_reduced.pkl
# Keep compressed archive
!src/models/final_model.tar.gz

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

src/models/data/cicddos2019_binary_processed.csv
src/models/data/cicids2017_binary_processed.csv